div.content {
	height: 1050px;
    width: 1050px;
    padding: 150px;
    border-radius: 50%;
    background-color: white;
    border: 10px double #000;
    margin: 120px 0;
    box-sizing: border-box;
    position: relative;
    left: 50%;
    margin-left: -525px;
}

div.content .text {
	text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    /* font-size: 1.8vh; */
    max-width: 100vw;
    box-sizing: border-box;
    padding: 0 20px;
}

@media (max-width: 760px) {
	div.content {
		position: static;
		height: auto;
		width: auto;
		padding: 40px 0;
		border-radius: 0;
		border-right: 	none;
		border-bottom: 	none;
		border-left: 	none;
		max-width: none;
		margin: 56px 20px 0 20px;
	}
	div.content .text {
		-moz-transform: none;
		-ms-transform: none;
		-webkit-transform: none;
		-o-transform: none;
		transform: none;
		padding: 0;
		position: static;
		text-align: justify;
	}
}