header {
	width: 100%;
	z-index: 2;
	padding: 0 4px;
	box-sizing: border-box;
	opacity: 1;
    position: absolute;
    top: calc(100vh - 50px);
	background-color: rgba(255,255,255,0);
	transition: background-color 0.2s;
	transform: translateZ(0);
}

header h1 {
	z-index: 1;
	letter-spacing: -1px;
    font-size: 20px;
    position: absolute;
    left: 24px;
    height: 100%;
    opacity: 0;
	display: flex;
	align-items: center;
    transition: opacity 0.2s;
}


header .button {
	position: absolute;
	right: calc(1% + 5px);
	z-index: 2;
	width: 26px;
	margin-top: 10px;
	cursor: pointer;
	display: none;

}

header .button div {
	background-color: black;
    height: 3px;
    margin: 5px 0;
    transition: all 0.2s;
}

.navigation {
    height: 50px;
    color: #000;
    top: 0;    
    right: 0;
    transition: transform 0.2s;
    box-sizing: border-box;
    display: flex;
    width: 100%;
}

header.fix {
	position: fixed;
	z-index: 10;
	top: 0;
	background-color: rgba(255,255,255,1);
}
header.fix h1,
header.fix h3  {
	opacity: 1;
}
header.fix .navigation ul {
	color: #000;
}

.navigation ul {
	color: #fff;
    transition: color 0.2s;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.navigation ul.links {
	max-width: 800px;
	width: calc(100% - 330px);
	margin: auto;
}
.navigation ul.language {
	position: absolute;
	right: 24px;
	height: 100%;
	width: auto;
}

.navigation ul.language li {
	font-size: 12px;
	opacity: 0.2;
	cursor: pointer;
}

.navigation ul.language li.active {
	opacity: 1;
}

.navigation li {
	opacity: 0.3;
	transition: opacity 0.2s;
}
.navigation li:hover, .navigation li.active {
	opacity: 1;
}

.navigation a {
	display: block;
}
.menu .button div {
	background-color: #fff;
}
header.fix .menu .button div {
	background-color: #000;
}
header .menu.show .button div {
	background-color: #fff;
}
.menu.show .button div:nth-of-type(1) {
	margin-top: 14px;
	transform: rotateZ(-45deg);
}
.menu.show .button div:nth-of-type(2) {
	opacity: 0;
}
.menu.show .button div:nth-of-type(3) {
	margin-top: -16px;
	transform: rotateZ(45deg);
}

.mobileSectionHeader {
	display: none;
	opacity: 0;
    transition: opacity 0.2s;
    font-size: 11px;
    position: absolute;
    height: 50px;
    line-height: 50px;
    left: 160px;
}

@media (max-width: 800px) {

	header {
		height: 50px;
		position: fixed;
		top: 0;
		left: 0;
	}

	header h1 {
		left: calc(1% + 5px);
	}

	.navigation {
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		padding-left: 60px;
		text-align: center;
		background: rgba(0,0,0,0.95);
		padding: 20% 10%;
		display: none;
	}
	header .navigation.navigation li {
		width: auto;
		color: #fff;
		padding: 10px;
		font-size: 18px;
	}
	header .button {
	    display: block;
	}

	header .navigation.navigation ul {
		display: flex;
		margin: 0;
		position: static;
		text-align: center;
		width: 100%;
	}

	header .navigation ul.links {
		height: 70%;
		flex-direction: column;
	}
	header .navigation ul.language {
		height: 30%;
		justify-content: center;
	}

	.mobileSectionHeader {
		display: block;
	}

	/*show state*/
	.menu.show .navigation {
		display: block;
	}
}