.landingPage h1 {
	height: 100vh;
	line-height: calc(100vh - 50px);
	letter-spacing: -1px;
    font-size: 12vw;
    z-index: -1;
    text-align: center;
    top: 0;
    width: 100%;
    color: #fff;
    opacity: 0.8;
    transform: scale(0);
    animation: grow 2s 2s forwards;
}

.landingPage video {
	min-width: 100%;
	min-height: 100%;
	position: fixed;
	z-index: -2;
	top: 0;
}

@keyframes grow {
    from {transform: scale(0)}
    to {transform: scale(1)}
}