.pages {
	padding-bottom: 40px;
}

.pages a {	
	display: block;
	position: relative;
	float: left;
	margin: 2px;
	width: calc((100% - 16px) / 3);
	padding-top: 22%;
	overflow: hidden;
	transform: scale(0.95);
	transition: transform 0.3s, opacity 0.3s;
}
.pages a:nth-of-type(3n - 2) {	
	margin-left: 4px;	
}
.pages a:nth-of-type(3n) {	
	margin-right: 4px;	
}

.pages a {	
	cursor: pointer;
}

.pages a img {	
	width: 100%;
	min-height: 100%;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	transition: opacity 0.3s;
	opacity: 0;
}

.pages a .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.3);
	transition: opacity 0.3s;
}
.pages a:hover {
	transform: scale(1);
}
.pages a:hover img.loaded {	
	opacity: 1;
}
.pages a:hover img.loaded + .overlay {	
	opacity: 0;
}

.pages a .overlay p {
	color: #fff;
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
	text-align: center;
	font-size: 15px;
	padding: 10px;
    box-sizing: border-box;
}

@media (max-width: 800px) {
	.pages a {	
		width: 47%;
		padding-top: 31.33%;
		width: calc((100% - 12px) / 2);
	}
	.pages a img {
		opacity: 0.5;
	}
	.pages a:nth-of-type(3n - 2) {	
		margin-left: 2px;	
	}
	.pages a:nth-of-type(3n) {	
		margin-right: 2px;	
	}
	.pages a:nth-of-type(2n - 1) {	
		margin-left: 4px;	
	}
	.pages a:nth-of-type(2n) {	
		margin-right: 4px;	
	}
}

@media (max-width: 500px) {
	.pages a .overlay p {
		font-size: 12px;
	}
}

.App.isNavigating .pages a {
	opacity: 0;
	transform: scale(0.8);
}

/*__URL SPECIFIC__*/

/*Images page*/
.App[data-path="/images"] .pages a {	
	width: 47%;
	padding-top: 47%;
	border-radius: 50%;
	z-index: 1; /* hack: allows border radius to be applied before image load*/
}
.App[data-path="/images"] .pages a img{	
	border-radius: 50%; /*safari fix */
	top: 50%;
	left: 50%;
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.App[data-path="/images"] .pages a:nth-of-type(3n - 2) {	
	margin-left: 1%	
}
.App[data-path="/images"] .pages a:nth-of-type(3n) {	
	margin-right: 1%	
}
.App[data-path="/images"] .pages a:nth-of-type(2n - 1) {	
	margin-left: 2%	
}
.App[data-path="/images"] .pages a:nth-of-type(2n) {	
	margin-right: 2%	
}