/*Fonts*/
@font-face {
    font-family: 'Aqua';
	font-style: normal;
	src: url('../fonts/aqua/aqua.woff') format('woff'), url('../fonts/aqua/aqua.ttf') format('truetype');
}

/*Theme*/
h1, h2, h3, h4, h5, h6, p, li {
	font-family: 'Aqua', sans-serif;
	font-weight: 600;
}

i {
	font-style: italic;
}

b, strong {
	font-weight: bold;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: inherit;
}

html {
	overflow-x: hidden;
}

body {
	background-color: #fff;
	overflow-x: visible;
	position: relative;
}

.App.fix {
	margin-top: 50px;
}

.content, .pages {
	width: 100%;	
	box-sizing: border-box;
	margin: 0 auto;
	position: relative;
	overflow: auto;	
}

.loader {

    transform-origin: left;
    position: fixed;
    width: 100px;
    transform: translate(0);
    height: 3px;
    top: 0px;
    background: black;
    left: -100px;
    z-index: 2;
    border-radius: 2px;
}

.isNavigating .loader {	
    transition: transform 0.75s;
    transform: translate(calc(100vw + 100px));
}

.contentContainer {
	opacity: 1;
	transition: opacity 0.5s;
    min-height: calc(100vh - 210px);
    /*background-color: #fff;*/
}
.fader {
	display: none;
	opacity: 0;
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	transition: opacity 0.5s;
}
.isNavigating .fader {
	opacity: 1;
	z-index: 1;
}

img {
	opacity: 0;
	transition: opacity 1s;
}
img.loaded {
	opacity: 1;
}

.errorMsg {
	text-align: center;
	margin: 100px 0;
	font-size: 26px;
}

@media (max-width: 620px) {
	h1.title {
		font-size: 60px;
	}
}



